body { 
  background-color: #fff;
  color: #333; 
  margin-top: 0px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #003; }
a:hover { background-color:#eff; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#goalmenu {
  position: absolute;
  left: 0px;
  width: 150px;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
	border-right: 1px solid black;
}

#goalmenu h1, #goalmenu h2, #goalmenu h3, #goalmenu h4 {
  padding-left: 10px;
}

#goalmenu ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

#goalmenu li {
  margin-left: 0px;
  padding-left: 10px;
  border-bottom: 1px solid #ccc;
}

#goalmenu li:hover {
  background-color: #eff;
}

#right {
  position: absolute;
  left: 150px;
  right: 0px;
  top: 0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-left: 1px solid;
}

#content {
  padding-left: 15px;
}

#goalmenu .active-goal {
  background-color: #cff;
}

.note-body a {
  text-decoration: none;
}

.note-body {
  width: 600px;
}

table {
  border-collapse: collapse;
}

td, th {
 border: 1px solid #ccc;
 padding: 2px;
}

input {
  border: 1px solid #ccc;
}

#login-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}

#tabmenu {
  position: relative;
  border-bottom: 1px solid black;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#tabs {
  position: absolute;
  bottom: 0px;
}

#tabmenu .tab {
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 1px;
  
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;

  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#tabmenu .active {
  background-color: #cff;
}

#tabmenu .tab a {
  text-decoration: none;
}

#searchbox {
  position: absolute;
  bottom: 0px;
  left: 200px;
}

#new_goal_form {
  margin-top: 5px;
  margin-bottom: 5px;
}
