<p>
  <b>Name:</b>
  <%=h @goal.name %>
</p>

<p>
  <b>Status:</b> <%=h @goal.status %>
</p>

<p>
  <b>Admin:</b> <%=h @goal.admin %>
</p>

<% if @goal and not @all_goals.include? @goal %>
  <%= link_to 'Adopt this goal', adopt_goal_path(@goal) %>
<% end %>
