<table>

<tr>
  <th>Name:</th>
  <td><%=h @goal.name %></td>
</tr>

<tr>
  <th>Status:</th>
  <td><%=h @goal.status %></td>
</tr>

<tr>
  <th>Admin:</th>
  <td><%=h @goal.admin %></td>
</tr>

</table>

<% if @goal and not @all_goals.include? @goal %>
  <%= link_to_button('Adopt this goal', adopt_goal_path(@goal), "bluebutton left") %>
<% end %>
