<h3>Welcome to charting.</h3>

<p>Select a goal from the left to view notes and sources and install one of the following tools:
<ul>
  <li><a href="/charting.xpi">The firefox plugin</a>
  <li>The bookmarklet: <%=render :partial => 'welcome/bookmarklet'%> by dragging this link to your bookmarks toolbar.</li>
  <li><a href="/ChartingWordAddInInstaller.exe">The Microsoft Word AddIn</a></li>
</ul>

<p>Once the plugin is installed a note button will be available to add to your
toolbar from View -&gt; Toolbars -&gt; Customize.</p>

<p>You may also create notes and resync Charting from the contextual menu.</p>

