<h3>Welcome to charting.</h3>

<p>Charting is the process whereby an individual monitors and optimises their
interaction with the people and resources who contribute to their learning and
development. To support our research on this topic, we have developed prototype
Charting Tools which support goal articulation and sharing.

Find out more about Charting, and how to use the Charting tools on these
<a href="http://www.caledonianacademy.net/spaces/charting11/">support
pages</a>.</p>

<p>Select a goal from the left to view notes and sources and install one of the following tools:
<table class="welcome">
  <tr><td><a href="/charting.xpi"><img src="images/firefox.png"></td></a><td><a href="/charting.xpi">The firefox plugin</td></tr>
  <tr><td><img src="images/cursor.png"></td><td>The bookmarklet: <%=render :partial => 'welcome/bookmarklet'%> by dragging this link to your bookmarks toolbar.</td></tr>
  <tr><td><a href="/ChartingWordAddInInstaller.exe"><img src="images/word.png"></a></td><td><a href="/ChartingWordAddInInstaller.exe">The Microsoft Word AddIn</a></td></tr>
</table>

<p>Once the plugin is installed a note button will be available to add to your
toolbar from View -&gt; Toolbars -&gt; Customize.</p>

<p>You may also create notes and resync Charting from the contextual menu.</p>

