<table>

<tr>
  <th>Name:</th>
  <td><%=h @goal.name %></td>
</tr>

<tr>
  <th>Description:</th>
  <td><%=h @goal.description %></td>
</tr>


<tr>
  <th>Status:</th>
  <td><%=h @goal.status %></td>
</tr>

<tr>
  <th>Admin:</th>
  <td><%=h @goal.admin %></td>
</tr>

</table>
