<h1><%=h @current_goal ? @current_goal.name : "all"%> notes</h1>

<%= render :partial => 'note_table' %>

<% if @current_goal and not @all_goals.include? @current_goal %>
  <%= link_to 'Adopt this goal', adopt_goal_path(@current_goal) %>
<% end %>

