<h3>Welcome to charting.</h3>

<p>Select a goal from the left to view notes and sources and install the <a href="/charting.xpi">firefox plugin</a>.</p>

<p>Once the plugin is installed a note button will be available to add to your toolbar from View -&gt; Toolbars -&gt; Customize.</p>

<p>You may also create notes and resync Charting from the contextual menu.</p>

